name: docker_deploy

on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string
      repository:
        required: true
        type: string
      environment:
        required: true
        type: string
    secrets:
      token:
        required: true
      ssh_host:
        required: true
      ssh_username:
        required: true
      ssh_key:
        required: true
      ssh_passphrase:
        required: true
    outputs:
      tags:
        description: "The dockerhub tags."
        value: ${{ jobs.docker_build_and_push.outputs.tags }}

jobs:
  build_and_push:
    name: Docker build and push
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to DockerHub
        uses: docker/login-action@v2  
        with:
          username: ${{ inputs.username }}
          password: ${{ secrets.token }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: spuxx/${{inputs.repository}}:${{inputs.environment}}-latest
    outputs:
      tags: spuxx/${{inputs.repository}}:${{inputs.environment}}-latest
      
  deploy:
    needs: build_and_push
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Connect and execute
        # https://github.com/appleboy/ssh-action
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.ssh_host}}
          username: ${{secrets.ssh_username}}
          key: ${{secrets.ssh_key}}
          passphrase: ${{secrets.ssh_passphrase}}
          script: |
             cd /opt/docker/${{inputs.repository}}/${{inputs.environment}}
             docker-compose pull
             docker-compose up -d
      - name: Log success
        run: echo "Container has been deployed successfully."
          
